<div class="menu-Main">
    <div class="menu-Logo">
        <img class="imgLogo" src="/assets/images/spotify-logo.png" alt="">
    </div>
    <div class="menu-Content mt-3 d-flex flex-column align-items-center">
        <div class="menu-Content-Item">
            <i class="bi bi-star-fill menu-Icon"></i>
            <a href="">Cá Nhân</a>
        </div>
        
        <div class="menu-Content-Item">
            <i class="bi bi-star-fill menu-Icon"></i>
            <a href="">Khám Phá</a>
        </div>

        <div class="menu-Content-Item">
            <i class="bi bi-star-fill menu-Icon"></i>
            <a href="">Theo Dõi</a>
        </div>

    </div>
</div>