<div class="home-Page pt-5">
    <div class="home-Banner">
        <div class="header-Content">
            <h2>Lựa Chọn Hôm Nay</h2>
        </div>
        <div class="list-Content d-flex">
            <div class="item-Content">
                <div class="item-Image-Content">image</div>
                <div class="item-D">link</div>
            </div>
            <div class="item-Content">
                <div class="item-Image-Content">image</div>
                <div>link</div>
            </div>
            <div class="item-Content">
                <div class="item-Image-Content">image</div>
                <div>link</div>
            </div>
            <div class="item-Content">
                <div class="item-Image-Content">image</div>
                <div>link</div>
            </div>
            <div class="item-Content">
                <div class="item-Image-Content">image</div>
                <div>link</div>
            </div>
        </div>
    </div>
    <div class="home-ListMadeForYou">
    </div>
    <div class="home-RecentlyPlayed">
    </div>
</div>