<div class="home-Page pt-5">
    <div class="home-Banner">
        <a href="" id="home-Banner-Link">
            <img src="/assets/images/imageTemp1.jpg" alt="" class="home-BannerContent">
            <p class="home-Banner-Content">
                Spotify Quang Vu
            </p>
        </a>
    </div>
    <div class="home-SelectToDay">
        <div class="header-Content">
            <h2>Lựa Chọn Hôm Nay</h2>
        </div>
        <div class="list-Content d-flex">
            <a class="item-Content" href="#Rintik Sedu">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Rintik Sedu</p>
                    <p>Rintiksedu</p>
                </div>
            </a>
            <a class="item-Content" href="#Tâm Lý Học Tuổi Trẻ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Tâm Lý Học Tuổi Trẻ</p>
                    <p>Ybox</p>
                </div>
            </a>
            <a class="item-Content" href="#Góc Nhỏ Văn Thơ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Góc Nhỏ Văn Thơ</p>
                    <p>Phan Luong</p>
                </div>
            </a>
            <a class="item-Content" href="#suaraibra">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">suaraibra</p>
                    <p>Ibra Faisal</p>
                </div>
            </a>
            <a class="item-Content" href="#MixiGaming">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">MixiGaming</p>
                    <p>MixiGaming</p>
                </div>
            </a>
        </div>
    </div>
    <div class="home-TrySomethingElse">
        <div class="header-Content">
            <h2>Thử một cái gì đó khác</h2>
        </div>
        <div class="list-Content d-flex">
            <a class="item-Content" href="#Rintik Sedu">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Rintik Sedu</p>
                    <p>Rintiksedu</p>
                </div>
            </a>
            <a class="item-Content" href="#Tâm Lý Học Tuổi Trẻ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Tâm Lý Học Tuổi Trẻ</p>
                    <p>Ybox</p>
                </div>
            </a>
            <a class="item-Content" href="#Góc Nhỏ Văn Thơ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Góc Nhỏ Văn Thơ</p>
                    <p>Phan Luong</p>
                </div>
            </a>
            <a class="item-Content" href="#suaraibra">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">suaraibra</p>
                    <p>Ibra Faisal</p>
                </div>
            </a>
            <a class="item-Content" href="#MixiGaming">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">MixiGaming</p>
                    <p>MixiGaming</p>
                </div>
            </a>
        </div>
    </div>
    <div class="home-FearutedCharts">
        <div class="header-Content">
            <h2>Top Âm Nhạc Nổi Bật</h2>
        </div>
        <div class="list-Content d-flex">
            <a class="item-Content" href="#Rintik Sedu">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Rintik Sedu</p>
                    <p>Rintiksedu</p>
                </div>
            </a>
            <a class="item-Content" href="#Tâm Lý Học Tuổi Trẻ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Tâm Lý Học Tuổi Trẻ</p>
                    <p>Ybox</p>
                </div>
            </a>
            <a class="item-Content" href="#Góc Nhỏ Văn Thơ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Góc Nhỏ Văn Thơ</p>
                    <p>Phan Luong</p>
                </div>
            </a>
            <a class="item-Content" href="#suaraibra">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">suaraibra</p>
                    <p>Ibra Faisal</p>
                </div>
            </a>
            <a class="item-Content" href="#MixiGaming">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">MixiGaming</p>
                    <p>MixiGaming</p>
                </div>
            </a>
        </div>
    </div>
    <div class="home-FreshNewMusic">
        <div class="header-Content">
            <h2>Âm Nhạc Mới</h2>
        </div>
        <div class="list-Content d-flex">
            <a class="item-Content" href="#Rintik Sedu">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Rintik Sedu</p>
                    <p>Rintiksedu</p>
                </div>
            </a>
            <a class="item-Content" href="#Tâm Lý Học Tuổi Trẻ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Tâm Lý Học Tuổi Trẻ</p>
                    <p>Ybox</p>
                </div>
            </a>
            <a class="item-Content" href="#Góc Nhỏ Văn Thơ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Góc Nhỏ Văn Thơ</p>
                    <p>Phan Luong</p>
                </div>
            </a>
            <a class="item-Content" href="#suaraibra">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">suaraibra</p>
                    <p>Ibra Faisal</p>
                </div>
            </a>
            <a class="item-Content" href="#MixiGaming">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">MixiGaming</p>
                    <p>MixiGaming</p>
                </div>
            </a>
        </div>
    </div>
    <div class="home-TrendingNow">
        <div class="header-Content">
            <h2>Âm Nhạc Xu Hướng</h2>
        </div>
        <div class="list-Content d-flex">
            <a class="item-Content" href="#Rintik Sedu">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Rintik Sedu</p>
                    <p>Rintiksedu</p>
                </div>
            </a>
            <a class="item-Content" href="#Tâm Lý Học Tuổi Trẻ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Tâm Lý Học Tuổi Trẻ</p>
                    <p>Ybox</p>
                </div>
            </a>
            <a class="item-Content" href="#Góc Nhỏ Văn Thơ">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">Góc Nhỏ Văn Thơ</p>
                    <p>Phan Luong</p>
                </div>
            </a>
            <a class="item-Content" href="#suaraibra">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">suaraibra</p>
                    <p>Ibra Faisal</p>
                </div>
            </a>
            <a class="item-Content" href="#MixiGaming">
                <div class="item-Image-Content">
                    <img src="/assets/images/imageTemp.jpg" alt="">
                </div>
                <div class="item-Description-content">
                    <p class="title">MixiGaming</p>
                    <p>MixiGaming</p>
                </div>
            </a>
        </div>
    </div>
</div>